strict-ssl=false
no_proxy=true
hoist=false
registry=http://notexistingdns.company.internal/repository/TEST-NPM-Group/
@types:registry=http://notexistingdns.company.internal/repository/TEST-NPM-Group/
scrict-peer-dependencies=false
